<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="utf-8">
		<title>Formulario</title>
		</head>
		<body>
			<form style="width: 600px; height: 300px;">
			<fieldset>
			<h2>Contactenos</h2>
			<div>Calle Falsa N123,388-7696969</div>
			<div>Lunes a Viernes: de 8:30 a 12:30 y de 16:30 a 21:00</div>
			<div>Sabado: de 8:30 a 12:30</div>
			<div>Domingo: No se atiende</div>
			<div><a href="correofalso@gmail.com">correofalso@gmail.com</a></div>
			<ul>
				<li><a href="facebook.com">Facebook</a>
				<li><a href="twitter.com">Twitter</a>
				<li><a href="instagram.com">Instagram</a>
				
				
				<p>Nombre <input name="nombrePersona" type="text" placeholder="Ingrese su nombre" required></p>
				<p>Email <input name="emailValido" type="text" placeholder="Ingrese un email valido" required></p>
				<p>Ciudad <input name="nombreCiudad" type="text" placeholder="Ingrese su ciudad" required></p>
				<p>Mensaje <input type="text" style="width: 250px; height: 120px;"></p>
				<button type="submit">Enviar</button>
			</ul>
			
			
			</fieldset>
			</form>
			

			
			
			
			
			
			

		</body>
</html>