<!DOCTYPE html>
<html lang = "es">
	<head>
		<meta charset="utf-8">
		<title>Prueba de inicio</title>
		</head>
			<body>
			<div> Primera parte del texto</div>
				<h1>Pagina de prueba</h1>
				<p>See more <a href="https://freecatphotoapp.com" target=_blank>cat photos</a> in our gallery</p>
				<a href="https://www.zonarutoppuden.net/2012/02/naruto-shippuden-99.html"><img src="file:///C:/Users/KEI/git/tp2-grupo8/tp2_grupo8/src/main/resources/static/images/Australia.png" alt="Australia"></a>
				
			</body>
</html>